body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}

#login, #register {
  max-width: 360px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #6200ee;
  color: white;
  cursor: pointer;
}

p {
  color: #6200ee;
  cursor: pointer;
}

header {
  background: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.post-box {
  max-width: 500px;
  margin: 20px auto;
  background: white;
  padding: 15px;
  border-radius: 15px;
}

textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#feed {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}
