body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f2f2f2;
}

#auth, #app {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #6200ee;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.like {
  cursor: pointer;
  color: red;
}
